* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 0 1rem;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2.4rem;
}

h3 {
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
}

ul li {
	list-style: none;
	line-height: 1.5;
}

p {
	line-height: 1.2;
}

footer {
	height: 5rem;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
}

#main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo h2 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
}

.main-nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.hero {
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.career {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 0.5rem;
	margin-bottom: 8rem;
}

.experience {
	margin-bottom: 2rem;
}

.opensource-work p {
	margin-bottom: 1rem;
}

.reviews {
	margin-bottom: 8rem;
}

.reviews-container {
	display: flex;
	gap: 2rem;
}

.review--item p:first-child {
	margin-bottom: 1rem;
}

.copyright {
	text-align: center;
}

#main {
	padding-bottom: 2rem;
	margin-top: 3rem;
}

.contact {
	padding: 0 2rem;
}

.contact form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
